.body {
    color: white;
}

.header {
    // @media (min-width: 768px) {
    //     .header{
    //       max-width: calc(100% - 180px);
    //     }
    //   }
      
    //   @media (min-width: 1024px) {
    //     .header{
    //       max-width: calc(100% - 144px);
    //     }
    //   }
      
    //   @media (min-width: 1280px) {
    //     .header{
    //       max-width: calc(100% - 400px);
    //     }
    //   }
      
    .header-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1040px;
        max-width: 100%;
        max-height: 71px;
        // margin: 20px auto 36.25px;
        margin: 20px auto 20px;
        padding: 0 20px 0 20px;
        background-color: #DCC2E7;
        border-radius: 30px;
        .header-logo-cont {
            overflow: hidden;
            .header-logo {
                max-width: 90px;
                max-height: 90px;
                
            }
        }

        .header-navbar {
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: row;
            gap: 30px;
            justify-content: space-between;
    
            .header-navbar-item {
                .link {
                    text-decoration: none;
                    font-family: Inter, Arial, Helvetica, sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 22px;
                    // text-align: right;
                    color: black;
                    opacity: 1;
                    transition: opacity .1s ease-in;
                }
                .link:hover {
                    opacity: 0.6;
                }
            }
            .header-navbar-item-active {
               
            }
        }
        .link {
            text-decoration: none;
            font-family: Inter, Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            color: black;
        }
        .link:hover {
            opacity: 0.6;
        }
        .header-button {
            max-width: 174px;
            max-height: 42px;
            width: 100%;
            min-height: 50px;
            padding: 10px;
            border: 0;
            border-radius: 30px;
            border: 2px solid black;
            background-color: transparent;
            font-family: Inter, Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: black;
            text-transform: uppercase; 
        }
        .header-button:hover {
            cursor: pointer;
            background-color: #F9D19D;
            border-color: #F9D19D;
            transition: background-color .3s;
        }
    }

    .header-illustration {
        position: relative;
        margin: auto;
        // margin-top: 10px;
        padding-bottom: 45%; /*от ширины родительского элемента*/
        max-width: 100%;
        // display: block;
        // position: absolute;
        // top: 0;
        // left: 0;
        // width: 100%;
        // height: 100%;
        // z-index: 1;
        background-image: url(../images/page_cover.png);
        background-size: cover;
        background-position: center;
        text-align: center;
        color: inherit;

        .header-text {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            text-align: center;
            color: white;
            .header-title {
                margin: 270px auto 35px;
                // max-width: 288px;
                max-width: 510px;
                font-family: 'Inter', Arial, sans-serif;
                font-style: italic;
                font-weight: 400;
                font-size: 64px;
                line-height: 35px;
                white-space: pre-line;
            }
            .header-subtitle {
                margin: auto;
                max-width: 710px;
                font-family: Inter, Arial, sans-serif;
                font-style: italic;
                font-weight: 300;
                font-size: 24px;
                line-height: 30px;
            }
        }
        .header-link {

        }
        .arrow {
            position: absolute;
            top: 80%;
            left: 90%;
            z-index: 1;
        }
        .arrow:hover{
            cursor: pointer;
            opacity: 0.6;
            transition: opacity .3s;
        }
    }
   
}

.main {
    width: 1040px;
    max-width: 100%;
    // max-height: 71px;
    // margin: 20px auto 36.25px;
    margin: 20px auto 100px;
   
    .wellcome {
        // max-height: 200px;
        padding: 50px 150px 50px;
        text-align: center;
        background-color: #DCC2E7;
        border-radius: 30px;
    }
    .foryou {
        padding: 100px 0 100px;
        text-align: center;
        .foryou-cards {
            display: flex;
            flex-wrap: wrap;
            column-gap: 100px;
            margin: auto;
            padding: 0;
            .foryou-cards-item {
                padding-top: 60px;
                width: 280px;
                list-style-type: none;
                .foryou-card-image {
                    padding: 0 40px 0;
                    width: 120px;
                    height: 120px;
                }  
                .foryou-card-title {
                    margin: 20px 0 32px;
                    text-align: center;
                    font-family: Inter, Arial, Helvetica, sans-serif;
                    line-height: 1.15;
                    font-size: 24px;
                    font-weight: bold;
                }
                .foryou-card-description {
                    margin: 0;
                    text-align: center;
                    font-family: Inter, Arial, Helvetica, sans-serif;
                    line-height: 23px;
                    font-size: 18px;
                    font-weight: normal;
                }
            }
        }
        
    }
    .benefits {
        text-align: center;
        padding-bottom: 100px;
        .benefits-cards {
            margin: auto;
            padding: 60px 0 12px;
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            .benefits-cards-item {
                display: flex;
                gap: 20px;
                max-width: 505px;
                height: 230px;
                list-style-type: none;
                background-color: #F3EFEB;
                border-radius: 30px;
                .card-text {
                    text-align: start;
                    .card-title {
                        margin: 0;
                        padding: 40px 0 32px 40px;
                        font-family: Inter, Arial, Helvetica, sans-serif;
                        line-height: 1.15;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 500;
                    }
                    .card-description {
                        margin: 0;
                        padding: 0 0 40px 40px; 
                        font-family: Inter, Arial, Helvetica, sans-serif;
                        line-height: 22px;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                    }
                }
                .card-image {
                    margin: 40px 40px 0 0;
                    width: 100px;
                    height: 100px;
                }
            }
        }
        .benefits-button {
            // max-height: 115px;
            width: 100%;
            min-height: 70px;
            padding: 0;
            border: 0;
            border-radius: 50px;
            border: none;
            background-color: #F9D19D;
            font-family: Inter, Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 26px;
            line-height: 28px;
            color: black;
            text-transform: uppercase; 
        }
        .benefits-button:hover {
            cursor: pointer;
            background-color: #DCC2E7;
            // border-color: #F9D19D;
            transition: background-color .3s;
        }
    }
    .program {
        text-align: center;
        .program-items {
            padding: 0;
            margin: 50px auto;
            // min-width: 100%;
            border-radius: 30px;
            background-color: #F3EFEB;
            padding: 40px 40px 40px;
            .program-item {
                margin-bottom: 30px;
                padding: 30px 50px 30px;
                height: 140px;
                list-style-type: none;
                background-color: white;
                border-radius: 30px;
                text-align: start;
                .program-item-data {
                    display: flex;
                    flex-wrap: wrap;
                    .date {
                        background-color: #DCC2E7;
                        border-radius: 10px;
                        height: 18px;
                        padding: 5px 20px;
                        z-index: 1;
                        font-family: Inter, Arial, Helvetica, sans-serif;
                        line-height: 18px;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                    }
                    .time {
                        background-color: #D9D9D9;
                        border-radius: 0 10px 10px 0;
                        margin-left: -15px;
                        z-index: 0;
                        height: 18px;
                        padding: 5px 20px 5px 35px;
                        font-family: Inter, Arial, Helvetica, sans-serif;
                        line-height: 18px;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                    }
                }
                .program-item-title {
                    margin: 0;
                    padding: 20px 0 10px;
                    font-family: Inter, Arial, Helvetica, sans-serif;
                    line-height: 1.3;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                }
                .program-item-price {
                    margin: 0;
                    font-family: Inter, Arial, Helvetica, sans-serif;
                    line-height: 22px;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                }
            }
            .program-item:last-child {
                margin-bottom: 0;
            }
        }
    }
    .gallery {
        padding: 100px 0 100px;
        text-align: center;
        .photo-grid {
            margin: 50px auto;
            display: grid;
            gap: 12px;
            // grid-template-columns: repeat(3, 340px);
            // grid-template-rows: repeat(3, 236px);
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 200px); // repeat(3, 1fr);
            // grid-template-columns: repeat(auto-fill, minmax(288px, max-content));
            // justify-content: center;
            // justify-items: center;
            // align-items: center;
            // .photo-grid-item {
            //     // border-radius: 30px;
            //     // max-width: 284px;
            //     // max-height: 236px;
            //     max-width: 100%;
            //     height: auto;
            // }
            .photo-grid-item-size-big {
                grid-row: 1/3;
            }
            .block {
                background-color: rgb(116, 174, 194);
                min-width: 100%;
                min-height: 100%;
                background: center no-repeat url(../images/room.png);
                background-size: cover;
                border-radius: 30px;
            }
            .block2 {
                background: center no-repeat url(../images/a.jpg);
                background-size: cover;
            }
            .item {
                background-color: rgb(116, 174, 194);
                min-width: 100%;
                min-height: 100%;
                border-radius: 30px;
                .photo-grid-item {
                    max-width: 100%;
                    // height: auto;
                    height: 200px;
                    border-radius: 30px;
                }
            }
            .item-size-big {
                grid-row: 2/4;
            }
            .item-size-large {
                grid-column: 2/4;
            }
        }
    }
    .apply {
        margin: auto;
        padding: 100px 0 100px;
        display: flex;
        gap: 30px;
        flex-wrap: wrap;

        .wrap {
            max-width: 505px;
            min-height: 400px;
            .apply-button {
                display: block;
                padding-top: 20px;
                margin-top: 12px;
                min-height: 50px;
                border: 0;
                border-radius: 50px;
                border: none;
                background-color: #F9D19D;
                font-family: Inter, Arial, Helvetica, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 28px;
                color: black;
                text-transform: uppercase; 
                text-align: center;
            }
            .apply-button:hover {
                cursor: pointer;
                background-color: #DCC2E7;
                // border-color: #F9D19D;
                transition: background-color .3s;
            }
        }
    }
    .masters {
        padding: 100px 0 100px;
        text-align: center;
        .cards {
            display: flex;
            flex-wrap: wrap;
            column-gap: 100px;
            margin: auto;
            padding: 0;
            .cards-item {
                padding-top: 80px;
                width: 280px;
                list-style-type: none;
                .cards-item-link {
                    text-decoration: none;
                    color: #2f80ed;
                    opacity: 1;
                    transition: opacity .1s ease-in;
                    .card-image {
                        padding: 0 40px 0;
                        width: 170px;
                        height: 170px;
                    }
                }
                .cards-item-link:hover {
                    opacity: .6;
                }
                .card-title {
                    margin: 30px 0 5px;
                    text-align: center;
                    font-family: Inter, Arial, Helvetica, sans-serif;
                    line-height: 1.15;
                    font-size: 24px;
                    font-weight: 500;
                    font-style: normal;
                }
                .card-subtitle {
                    margin: 0;
                    padding-bottom: 20px;
                    text-align: center;
                    font-family: Inter, Arial, Helvetica, sans-serif;
                    line-height: 23px;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 300;
                    letter-spacing: 2px;
                }
                .card-description {
                    margin: 0;
                    text-align: center;
                    font-family: Inter, Arial, Helvetica, sans-serif;
                    line-height: 20px;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 300;
                }
            }
        }
    }
    .faq {
        .faq-items{
            padding: 0;
            margin: 50px auto;
            // min-width: 100%;
            border-radius: 30px;
            background-color: #F3EFEB;
            padding: 20px 40px;
            .faq-title {

            }
            .faq-item{
                margin-bottom: 12px;
                padding: 20px 50px 20px;
                height: 30px;
                list-style-type: none;
                background-color: white;
                border-radius: 30px;
                text-align: start;
                .container {
                    display: flex;
                    justify-content: space-between;
                    .faq-item-title {
                        margin: 0;
                        // padding: 20px 0 10px;
                        font-family: Inter, Arial, Helvetica, sans-serif;
                        line-height: 30px;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 500;
                    }
                    .faq-item-arrow {
                        opacity: 1;
                        transition: opacity .1s ease-in;
                    }
                    .faq-item-arrow:hover {
                        opacity: .6;
                    }
                }
                .faq-item-text {
                    margin: 0;
                    font-family: Inter, Arial, Helvetica, sans-serif;
                    line-height: 22px;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                }
            }
        }
    }
    .connection {
        text-align: center;
    }
}
.footer {
    text-align: center;
    max-width: 100%;
    .footer-container {
        position: relative;
        width: 100%;
        min-height: 400px;
        padding: 70px 0 30px 0;
        background-color: #DCC2E7;
        text-align: center;
        .email {
            .email-name {
                text-decoration: none;
                font-family: Inter, Arial, sans-serif;
                font-style: italic;
                font-weight: 700;
                font-size: 36px;
                line-height: 45px;
                color: black;
                opacity: 1;
                transition: opacity .1s ease-in;
            }

            .email-name:hover {
                opacity: .6;
            }
        }
        .socialmedia {
            padding-top: 20px;
            .socialmedia-link {
                margin-right: 20px;
                .socialmedia-icon {
                    max-width: 60px;
                    max-height: 60px;
                    opacity: 1;
                    transition: opacity .1s ease-in;
                }
            }
            .socialmedia-link:last-child {
                margin-right: 0;
            }
            .socialmedia-link:hover {
                opacity: .6;
            }
        }
        .address {
            .address-title {
                margin: 0;
                padding: 60px 0 20px;
                font-family: Inter, Arial, sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 30px;
                line-height: 28px;
                color: black;
                text-decoration: none;
            }
            .address-name {
                margin-top: 30px;
                font-family: Inter, Arial, sans-serif;
                font-style: italic;
                font-weight: 400;
                font-size: 24px;
                line-height: 40px;
                color: black;
                text-decoration: none;
                opacity: 1;
                transition: opacity .1s ease-in;
            }
            .address-name:hover {
                opacity: 0.6;
                cursor: pointer;
            }
        }
    
        .footer-logo {
            position: absolute;
            top: 12%;
            left: 2%;
            max-width: 400px;
            max-height: 400px;
        }
    }
    .copyright {
        font-family: 'Inter', Arial, sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 20px; 
    }
}
.section-title {
    margin: 0 auto;
    padding-bottom: 20px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 50px; 
    text-transform: uppercase; 
}
.section-title-logo {
    font-family: 'Inter', Arial, sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 36px;
    line-height: 28px; 
    text-transform: uppercase; 
}
.text {
    margin: 0 auto;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 127%; 
}
.section-subtitle {
    margin: 0 auto;
    max-width: 755px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 45px; 
}
.card {
    position: relative;
    max-width: 505px;
    min-height: 400px;
    display: flex;
    gap: 30px;
    background-color: #F3EFEB;
    border-radius: 30px;
    .container {
        text-align: start;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .container-title {
            margin: 0;
            padding: 40px 0 0 40px; 
            font-family: Inter, Arial, Helvetica, sans-serif;
            line-height: 32px;
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            text-transform: uppercase;
        }
        .container-description {
            padding: 0 40px 30px 40px;
            min-width: 425px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .container-description-text {
                max-width: 300px;
                margin: 0;
                font-family: Inter, Arial, Helvetica, sans-serif; 
                line-height: 26px;
                font-size: 20px;
                font-style: normal;
                font-weight: 300;
            }
            .container-description-link {
                display: block;
                text-decoration: none;
                .container-description-arrow {
                    max-width: 60px;
                    max-height: 60px;
                    opacity: 1;
                    transition: opacity .1s ease-in;
                }
                .container-description-arrow:hover {
                    opacity: .6;
                }
            }
        }
    }    
    .container-image {
        position: absolute;
        top: 30%;
        left: 52%;
        max-width: 150px;
        max-height: 150px;
    }
    .container-image-position {
        top: 20%;
    }
}
.card-position {
    margin: 50px auto 0;
}
.card-color {
    background-color: #D9D9D9;
}
.card-link {
    display: block;
    padding-top: 20px;
    margin-top: 12px;
    min-height: 50px;
    text-decoration: none;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase; 
    text-align: center;
    color: black;
    border-radius: 30px;
    background-color:  #F9D19D;
    opacity: 1;
    transition: opacity .1s ease-in;
}
.card-link:hover {
    transition: background-color .3s;
    background-color: #DCC2E7;
}